html {
  font-size: 18px;
}

body {
  font-family: helvetica

}

div {
  display: block;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Header */

.header {
  font-size: 1rem;
  background-color: black;
  padding: 0.66rem 0;
}

.header img {
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 1.5rem;
}

.header span {
  color: white;
  align-items: center;
}

/* Main Banner  */

.main-banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

h1, h4 {
  font-weight: bold;
}

h1 {
font-size: 2rem;
padding-top: 0.25rem 0
}

h4 {
font-size: 1rem;
}

.main-banner.container {
  width: 20rem;
  padding-top: 9rem;
  background-color: black;
}

/* Navigation */

nav {
background-color: firebrick;
color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 0;
}

li {
  display: list-item;
}

/* Product and Info */

.product {
  width: 30%;
}

.products, .info {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 3rem 0 0 0;
}

.product-image {
  border: 4px solid black;
  padding: 2rem 0;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 30%;
}

.description {
  display: block;
  text-align: center;
  padding: 0.5rem;
  color: white;
  background-color: black;
}

.watch {

}

.pen {

}

.glasses {

}


.info {
  width: 35%;
}

.info .title {
  color: white;
  background-color: black;
  padding: 1rem 2rem;
  display: block;
}

.info span {
  color:
}

/* Footer */

footer {
  color: white;
  background-color: black;
  padding: 5em 0;
  margin-top: 4em;
  text-align: left;
}
